# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Compiled source #
*.o
*.exe
*.com
*.dll
*.so
*.a
*.mod

# Packages #
*.gz
*.iso
*.tar
*.zip

# Logs and databases #
*.log

# Ignore the test directory
test/
